$ns: 'ar-picker' !default;

.#{$ns} {
    position: relative;
    display: inline-flex;
    flex-direction: column;

    input {
        @include inputStyle();

        z-index: 10;
        padding: 10px 40px 10px 10px;
        margin: 0;
    }

    &.focus {
        input {
            @include inputStyleFocus($form-color-focus);
        }
    }

    button {
        @extend .btn-clear;

        background-color: transparent;
        z-index: 100;
        position: absolute;
        transform: translateY(-50%);
        right: 2px;
        top: 50%;
        width: 40px;
        height: 100%;
        max-height: 36px;
        padding: 0;
    }

    &-select {
        z-index: 1;
        position: absolute;
        max-width: 100%;
        bottom: 0;
        right: 0;
        transform: translateY(100%);
        overflow: hidden;
        box-shadow: $ar-dropdown-shadow;
    }
}
