@mixin flex() {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

@mixin flex-factory() {
    @include flex();

    &-grow {
        flex-grow: 1;
    }

    &-shrink {
        flex-shrink: 1;
    }

    &-top {
        @include flex();
    }

    &-middle {
        @include flex();
        align-items: center;
    }

    &-bottom {
        @include flex();
        align-items: flex-end;
    }

    &-left {
        @include flex();
    }

    &-center {
        @include flex();
        justify-content: center;
    }

    &-right {
        @include flex();
        justify-content: flex-end;
    }

    &.start {
        justify-content: flex-start
    }
    &.end {
        justify-content: flex-end;
    }

    &.middle {
        align-items: center
    }

    &.center {
        justify-content: center;
    }
}
