@mixin flex() {
    display: flex;
    align-items: flex-start;
}

@mixin flex-factory() {
    @include flex();

    &-grow {
        flex-grow: 1;
    }

    &-shrink {
        flex-shrink: 1;
    }

    &-top {
        @include flex();
    }

    &-middle {
        @include flex();
        align-items: center;
    }

    &-bottom {
        @include flex();
        align-items: flex-end;
    }

    &-left {
        @include flex();
    }

    &-center {
        @include flex();
        justify-content: center;
    }

    &-right {
        @include flex();
        justify-content: flex-end;
    }

    &.left {
        justify-content: flex-start;
    }

    &.right {
        justify-content: flex-end;
    }

    &.center {
        justify-content: center;
    }

    &.top {
        align-items: flex-start;
    }

    &.bottom {
        align-items: flex-end;
    }

    &.middle {
        align-items: center;
    }

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}
