$ar-checkbox-bg-color: $color-grey !default;
$ar-checkbox-bg-active-color: $color-blue !default;
$ar-checkbox-handle-color: $color-white !default;
$ar-checkbox-border-color: $color-gray-dark !default;
$ar-checkbox-size: 18px !default;
$ar-checkbox-mark: "\2715" !default;

label.ar-checkbox {
    position: relative;
    display: flex;
    min-width: $ar-checkbox-size;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;

    * {
        pointer-events: none;
    }

    input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    > span:last-child {
        position: relative;
        width: $ar-checkbox-size;
        height: $ar-checkbox-size;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $ar-checkbox-border-color;

        > span {
            opacity: 0;
        }
    }

    > span:first-child {
        flex-grow: 1;
    }

    &.ar-checkbox-label-left {
        > span:first-child {
            margin-right: 10px;
            text-align: left;
        }
    }

    &.ar-checkbox-label-right {
        flex-direction: row-reverse;

        > span:first-child {
            margin-left: 10px;
            text-align: right;
        }
    }

    input:focus + span:last-child {
        box-shadow: 0 0 1px 2px rgba($ar-checkbox-bg-active-color, 0.25);
    }

    input:checked + span:last-child {
        color: $ar-checkbox-bg-active-color;

        > span {
            opacity: 1;
            background-color: $ar-checkbox-bg-active-color;
        }
    }

    @each $clr-name, $clr-codes in $buttons {
        &-#{$clr-name} {
            input:focus + span:last-child {
                box-shadow: 0 0 1px 2px rgba(nth($clr-codes, 1), 0.25);
            }

            input + span:last-child {
                > span {
                    fill: nth($clr-codes, 1);
                }
            }

            input:checked + span:last-child {
                color: nth($clr-codes, 1);

                > span {
                    opacity: 1;
                    fill: nth($clr-codes, 1);
                }
            }
        }
    }

    &:hover {
        input:focus + span:last-child {
            box-shadow: none;
        }
    }
}
