
.form-group {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin: px2rem(20) 0;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    label {
        user-select: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-weight: 500;

        * {
            font-weight: normal;
        }
    }

    &, label {
        input,
        textarea,
        select {
            flex-grow: 1;
            font-family: inherit;
            font-size: inherit;
            font-weight: 200;
            outline: none;
            border: 1px solid $color-grey;
            border-radius: $input-radius;
            line-height: 1;
            margin-top: 6px;
            padding: 10px;

            &:focus,
            &.focus {
                box-shadow: 0 0 0 5px rgba(lighten(nth($color-blue, 1), 5%), 0.25);
                border: 1px solid $color-blue;
            }

            &:disabled {
                opacity: 0.8;
            }

            &:first-child {
                &:last-child {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        textarea {
            line-height: 1.25;
        }
    }

    .inline,
    &.inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row !important;

    }


    .small, small {
        &:last-child {
            @extend .em;
            margin-top: 8px;
            font-weight: normal;
        }
    }

    &.row {

        label {
            flex-direction: row;
            align-items: center;
        }

        input,
        textarea,
        select {
            margin: 0;
        }
    }

    &.error {
        input,
        textarea,
        select {
            box-shadow: 0 0 0 5px rgba(lighten(nth($color-red, 1), 5%), 0.25);
            border: 1px solid $color-red !important;

            &:focus,
            &.focus {
                box-shadow: none;
            }
        }

        .small, small {
            color: $color-red;
        }
    }
}

.input-group {
    display: flex;
    align-items: stretch;
    flex-direction: row;

    input,
    textarea,
    select {
        flex-grow: 1;
        font-family: inherit;
        font-size: inherit;
        font-weight: 200;
        outline: none;
        border: none;
        line-height: 1;
        padding: 10px;

        &:disabled {
            opacity: 0.8;
        }

        &:first-child {
            &:last-child {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    input,
    textarea {
        z-index: 1;
        background-color: none;
        border-top: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
        border-left: 1px solid $color-grey;

        &:last-child {
            border-right: 1px solid $color-grey;
        }
    }

    textarea {
        line-height: 1.25;
    }

    > * {
        z-index: 1;
        &:last-child {
            border-radius: 0 4px 4px 0;
        }

        &:first-child {
            border-radius: 4px 0 0 4px;

            &:last-child {
                border-radius: 4px;
            }
        }
    }

    button,
    label {
        flex-grow: 0;
        border-radius: 0;
        margin-right: -1px;
        z-index: 10;
    }
}
