
.flex {
    @include flex-factory();

    @each $prefix in $breakpoint-all-prefixes {
        @include breakpoint($prefix) {
            &-#{$prefix} {
                @include flex-factory();
            }
        }
    }
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
